@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



/* header section's css starts */
#header{
    background-color: #fff;
    padding: 12px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 .3rem 1rem rgba(0,0,0,.1);
    top: 0;
    position: sticky;
    z-index: 9999;
}

#header .logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .logo a > img{
    width: 70px;
    height: 30px;
}

#header .logo a > h3{
    font-size: 40px;
    color: #0B0223;
    letter-spacing: .5px;
    margin-left: 6px;
}

#header .logo a > h3 > span{
    color: #FF42A5;

}

#header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .navbar a{
    margin: 0 13px;
    font-size: 18px;
    color: #3C354F;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#header .navbar a:hover{
    color: #FF42A5;
}

#header .navbar .follow_us{
    background-color: #E7E6E9;
    padding: 10px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#header .navbar .follow_us > a{
    color: #3C354F;
}

#header .navbar .follow_us > a > .fa-youtube{
    color: #CD201F;
}

#header .navbar .follow_us > a > .fa-tiktok{
    color: #010101;
    margin-left: 4px;
}


#nav_bars{
    color: #0B0223;
    font-size: 22px;
    display: none;
}

/* header section's css ends */






/* header section's css ends */





/* Home banner section's css starts */
#home_banner{
    background: url(../Images/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 500px center;
    padding: 50px 7%;
    height: 99vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home_banner .banner_content{
    margin-top:  -70px;
}

#home_banner .banner_content p{
    color: #0B0223;
    font-size: 40px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}

#home_banner .banner_content h3{
    font-size: 90px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

#home_banner .banner_content ul {
    margin-bottom: 30px;
}

#home_banner .banner_content ul li{
    margin: 16px 0;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;

}

#home_banner .banner_content ul li i{
    margin: 0 6px;
    color: #946b85;
}

#home_banner .banner_content > a{
    margin: 0 6px;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 13px 30px;
    letter-spacing: 1.5px;
}

#home_banner .banner_content > .sign_int_btn{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #99C342 0%, #FF42A5 100%));
}

#home_banner .banner_content > .go_rogue_btn{
    border-radius: 48px;
    background: #4EC5F7;
}

.baner_img img{
    width: 40vw;
    height: 100vh;
}

/* Home banner section's css ends */



/* We Are Gamersection's css starts */
#we_gamer{
    background-color: #FFF9FC;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#we_gamer .gamers_content{
    text-align: right;
}


#we_gamer .gamers_content h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

#we_gamer .gamers_content p{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

#we_gamer .gamers_content .know_more_btn{
    display: inline-flex;
    padding: 13px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #FF42A5;
    color: #fff;
    margin-bottom: 20px;
}

#we_gamer .gamers_content  span{
    color: #222;
    font-size: 17px;
    margin: 10px 0;
    font-weight: 500;
}

#we_gamer .gamers_content  h4{
    color: #534C64;
    /* text-align: right; */
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 45px; 
}

#we_gamer .gamers_img img{
    height: 100%;
    width: 100%;
}

/* We Are Gamer section's css ends */




/* Online Game section's css starts */
#online_game{
    background-color: #FFFFFF;
    padding: 50px 7%;
}

#online_game .section_title{
    text-align: center;
    margin-bottom: 30px;
}

#online_game .section_title h2{ 
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
    color: #0B0223;
}

#online_game .section_title h2 > span{ 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#online_game .section_title > p{ 
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 10px 0;
    color: #787285;
}

#online_game .online_game_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 23px;
}

#online_game .online_game_container .game_box{
    /* border: 1px solid tomato; */
    padding: 20px 10px;
}

#online_game .online_game_container .game_box .box_img{
    position: relative;
}

#online_game .online_game_container .game_box img{
    width: 100%;
    height:  auto;
}

#online_game .online_game_container .game_box .box_img .overlay{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    transition: .4s;
    opacity: 0;
    background-color: #4D4D4F;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
} 

#online_game .online_game_container .game_box .box_img .overlay:hover{
    opacity: .7;
    transition: .5s ease-in;
    border: 3px solid tomato;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
}

#online_game .online_game_container .game_box .box_img .overlay .play_watch{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
    margin-top: 120px;
    color: #fff;
    font-size: 23px;
}
/* 
#online_game .online_game_container .game_box .overlay >  */
    

#online_game .online_game_container .game_box .box_img .overlay .play_watch > a{
   display: block;
   /* margin: 80px 60px; */
   color: #fff;
   font-size: 30px;
   font-weight: 800;
}

#online_game .online_game_container .game_box .overlay > h5{
    color: #fff;
}

#online_game .online_game_container .game_box  p{
    color: #3C354F;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
}

/* Online Game section's css ends */







/* Instantly section's css starts */
#instantly{
    background-color: #fff;
    padding: 50px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

#instantly .instantly_content {
    margin-right: 150px;
}

#instantly .instantly_content h2{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;
}

#instantly .instantly_content h2 > span{
    color: #FF42A5;
}

#instantly .instantly_content p{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.instantly_img .first_img{
    position: relative;
}

.instantly_img .second_img > img{
   position: absolute;
   margin-top: -250px;
   margin-left: -100px;
   width: auto;
   height: auto;
}


/* Instantly section's css ends */





/* Careers section's css starts */
#careers{
    background: url(../Images/banner_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FF42A5;
    padding: 50px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 140px;
}

#careers .careers_content {
    /* margin-top: -50px; */
    color: #fff;
}

#careers .careers_content h3{
    font-size: 40px;
    line-height: 47px;
    letter-spacing: .4px;
    margin-bottom: 15px;
}

#careers .careers_content p{
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 30px;
}

#careers .careers_content .career_list{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 100px;
    margin-bottom: 30px;
}

#careers .careers_content .career_list ul li{
    margin: 13px 0;
}

#careers .careers_content > a{
    color: #F948B2;
    padding: 12px 25px;
    border-radius: 30px;
    background-color: #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .2px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#careers .careers_content > a:hover{
    letter-spacing: .5px;
    
}

#careers .careers_img img{
    width: 100%;
    height: 100%;
}


/* Careers section's css ends */





/* Games Type section's css starts */
#games_type{
    background-color: #FFF9FC;
    padding: 50px 10%;
}

#games_type .first_game_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin-bottom: 30px;
    margin-left: 20px;
}

/* #games_type .second_game_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-left: 20px;
} */

.game_type_box{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.game_type_box img{
    width: 40px;
    height: 40px;
   
}

.game_type_box span{
    margin-left: 10px;
}

#games_type .second_game_container .game_type_box{
    width: 80%;
}

/* Games Type section's css ends */



/* Footer section's css starts */
#footer{
    background-color: #0B0223;
    padding: 50px 7%;
    text-align: center;
}

#footer .footer_logo a{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .footer_logo a > img{
    width: 70px;
    height: 30px;
}

#footer .footer_logo a > h3{
    font-size: 40px;
    color: #fff;
    letter-spacing: .5px;
    margin-left: 6px;
}

#footer .footer_logo a > h3 > span{

    color: #FF42A5;

}

#footer .other_content .pages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}


#footer .other_content .pages li a{
    color: #fff;
    font-size: 18px;
    margin: 0 20px;
    line-height: 27px;
}

#footer .other_content .social_icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .other_content .social_icons li a{
    color: #fff;
    font-size: 18px;
    margin: 0 15px;
}

#footer .other_content .support_help{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#footer .other_content .support_help li a{
    color: #787285;
    font-size: 18px;
    margin: 0 15px;
    line-height: 27px;
}


#footer .other_content p{
    color: #787285;
    font-size: 18px;
    line-height: 27px;
    margin-top: 20px;
}

/* Footer Type section's css ends */
